 <section class="card">
        <input id="blogid">{{post.title}}</input>
        <input>{{post.description}}</input>
        <button class="btn btn-primary" id="updateBlog" data-blogid="{{post.id}}" type="submit">Update Blog</button>
        <button class="btn btn-primary" id="deleteBlog" data-blogid="{{post.id}}" type="submit">Delete Blog</button>
    </section>

{{#each post.comments}}
  {{#with this}}
    <p>{{comment}}</p>
  {{/with}}
{{/each}}

    <div class="row justify-space-between-md">
  <div id="signin" class="blog-card">
    <h2 class="page-title">New Comment</h2>
    <form class="form comment-form">
      <div class="form-group">
        <label for="password-login">Comment:</label>
        <input class="form-input" type="text" id="comment"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="createComment" type="submit">Create Comment</button>
      </div>
    </form>
  </div>

<script src="/js/comment.js"></script>
<script src="/js/deletePost.js"></script>
<script src="/js/updatePost.js"></script>