<section class="card" id="postDetails">
  <textarea id="blogid" class="updateTitle">{{post.title}}</textarea>
  <textarea id="blogid" class="updateDescription">{{post.description}}</textarea>
  <div id="buttons">
  <button class="btn btn-primary" id="updateBlog" data-blogid="{{post.id}}" type="submit">Update Blog</button>
  <button class="btn btn-primary" id="deleteBlog" data-blogid="{{post.id}}" type="submit">Delete Blog</button>
  </div>
</section>

{{#each post.comments}}
{{#with this}}
<p id="comments">{{comment}}</p>
{{/with}}
{{/each}}

<div class="row justify-space-between-md">
  <div id="addComment" class="blog-card">
    <form class="form comment-form">
      <h2 class="page-title">New Comment</h2>
      <div class="form-group">
        <label for="password-login">Comment:</label>
        <textarea class="form-input" type="text" id="comment"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="createComment" type="submit">Create Comment</button>
      </div>
    </form>
  </div>

  <script src="/js/comment.js"></script>
  <script src="/js/deletePost.js"></script>
  <script src="/js/updatePost.js"></script>